<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Обо мне</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Опытный инженер АСУ ТП с 20-летним стажем в автоматизации горнодобывающей и обогатительной отрасли.</p>

      </div>
      <div class="col-lg-4">
        <p>Проектирование, внедрение и обслуживание АСУ ТП. Разработка ШУ, монтаж. Программирование ПЛК, HMI, SCADA. Настройка КИП и ЧРП. Написание документации.</p>

      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="files\Резюме Инженер АСУ ТП Семёнов А А.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Скачать резюме
        </a>
      </div>
    </div>
  </div>
</section>
